<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dashboard</title>
    <style>
        .center {
        margin: 30px;
        text-align: center;
        padding: 10px;
        
        }

        .elem {
            padding: 5px;
            margin: 5px;
        }

    </style>
    <script>

        async function fetchLiveDataProjects() {
            try {
                const response = await fetch('/api/project');
                const data = await response.json();
      
                // Update specific parts of the page
                document.getElementById('live-data-display-project').innerHTML = `
                Current value: ${JSON.stringify(data)}
                `;
                } catch (error) {
                    console.error('Failed to fetch live data:', error);
                }
        }
        
        async function fetchLiveDataTechnologies() {
            try {
                const response = await fetch('/api/technology');
                const data = await response.json();
                
                // Update specific parts of the page
                document.getElementById('live-data-display-technology').innerHTML = `
                Current value: ${JSON.stringify(data)}
                `;
                } catch (error) {
                    console.error('Failed to fetch live data:', error);
                }
        }

        async function fetchLiveDataLanguages() {
            try {
                const response = await fetch('/api/language');
                const data = await response.json();
                
                // Update specific parts of the page
                document.getElementById('live-data-display-language').innerHTML = `
                Current value: ${JSON.stringify(data)}
                `;
                } catch (error) {
                    console.error('Failed to fetch live data:', error);
                }
        }
        // Optionally set up periodic updates
        setInterval(fetchLiveDataProjects, 3000);
        setInterval(fetchLiveDataTechnologies, 3000);
        setInterval(fetchLiveDataLanguages, 3000);

        async function submitFormData(event) {
    // Prevent the default form submission which would reload the page
    event.preventDefault();
    
    // Get form data
    const form = event.target;
    const formData = new FormData(form);
    //var data = Object.fromEntries(formData.entries());
    
    
    try {
      // Send data to server
      const response = await fetch('/api/user/logout', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
      });
      
      // Check if request was successful
      if (!response.ok) {
        throw new Error('Network response was not ok');
      }

      if (response.status == 200)
      {
        location.href = '/';
      }
      
      // Parse the response
      const responseData = await response.json();
      
      // Update page content dynamically without refreshing
      document.getElementById('result-container').textContent = 
        `Received: ${JSON.stringify(responseData)}`;
      
    } catch (error) {
      // Handle any errors
      console.error('Error:', error);
    }
  }


    </script>
</head>
<body>
    <p>admin dashboard</p>

    <div class="">
        <form onsubmit="submitFormData(event)">
           <input class="elem " type="submit" value="logout"> <br>
        </form>
      </div>

    <a href="/admin/project/add"><button class="elem">add project</button></a> <br>
    <a href="/admin/technology/add"><button class="elem">add technology</button></a> <br>
    <a href="/admin/language/add"><button class="elem">add language</button></a> <br>
    <div>
        <p class="elem">projects: </p>
        <p id="live-data-display-project"></p>
    </div>

    <div>
        <p class="elem">technologies: </p>
        <p id="live-data-display-technology"></p>
    </div>

    <div>
        <p class="elem">languages: </p>
        <p id="live-data-display-language"></p>
    </div>


</body>
</html>